h1 {
  text-align: center;
}
body {
  background-image: url("http://wallpapercave.com/wp/5jtNsi1.jpg");
}
div {
    padding: 10px;
    border: 5px solid blue;
    margin: 0;}
p {
    border: 1px solid black;
    outline-color:red;
}
p.dotted {outline-style: dotted;}
li {
    display: inline;
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #4286f4;
ul {
    width: 500px;
    padding-left: 0px;
    float: right;
    height: 54px;
    }
