h1 {
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}
iframe {
  position: center;
}
body {
  margin: 40px;
}

.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }


    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 120px 120px 120px;
        grid-template-areas:
    "....... header header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }


.box-content {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}
body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}
.A{
  padding-top: 50px;
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 500px;
  height: 900px;
  font-size: 150%;
}
